.clip {
    -webkit-clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0, 80% 100%, 0% 100%);
}

.main_section_title{
    display: flex;
    width: 100%;
    justify-content: space-between;    
    .main_section_cat{
        font-size: 18px;
        padding: 7px 10px;
        color: #fff;
        min-width: 150px;
    }
}

.section_title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid;
    a{
        padding: 5px 10px;
    }
    .section_cat{
        color: #fff;
        min-width: 110px;
    }
    .section_link{
        min-width: 90px;
        color: #000;
    }
}