$fa-font-path: "webfonts";
$grid-gutter-width: 1rem !default;

$black  : #222222;
$tile   : #5e8597;
$green  : #00a550;
$white  : #ffffff;
$blue   : #1b75bb;
$yellow : #fbaf3f;
$pink   : #ec008b;

$body-bg-color: #f5f6f7;
$red    : #b51a1a;
$secondary_red : #f44;

$tab_bg_green: #00a550;
$tab_bg_yellow: #fbaf3f;
$tab_bg_pink: #ec008b;